---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: argocd
  namespace: flux-system
spec:
  interval: 5m0s
  path: ./apps/argocd
  prune: true
  retryInterval: 2m0s
  sourceRef:
    kind: GitRepository
    name: argocd
  targetNamespace: default
  timeout: 3m0s
  wait: true
